.page-container{
  position: relative;
  height: 120vh;
  padding: 50px;
}

form{
  margin-top: 70px;
  position: absolute;
  left: 35%;
  width: 30%;
}

.form-control{
  margin-bottom: 10px;
}

.btn{
  width: 100%;
}